/* layout.css */
.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header,
.footer {
  background-color: #2f80ed;
  color: white;
  padding: 1rem;
  text-align: center;
}

.main-content {
  flex: 1;
  padding: 2rem;
}
